<!DOCTYPE html>
<html {{#isRTL}}dir="rtl"{{/isRTL}} lang="{{locale}}">
	<head>

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="http://www.verint.com/web_resources/themes/verint/images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="/public/css/bundle.css">
		{{#isRTL}}<link rel="stylesheet" href="/public/css/bundle-rtl.css">{{/isRTL}}
		<script src="/public/js/bundle.js"></script>
		<script>document.querySelector("html").className="enhanced";</script>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.{{locale}}"></script>
		{{{placeholder "head"}}}

	</head>
	<body>

		<main>
			<section class="main-header">

				{{{placeholder "header"}}}

			</section>
			<section class="main-row row">

				<nav class="left-nav col">

					<a href="/">
					<div class="logo">&nbsp;</div>
					<h1 class="logo-title">Languages'R'Us</h1>
					</a>

				</nav>
				<section class="main-body col">

					<section class="user-header">

						{{#parts.UserHeader}}
						<section id={{{id}}}>{{{html}}}</section>
						<script>{{{script}}}</script>
						{{/parts.UserHeader}}

					</section>
					{{{body}}}

				</section>

			</section>

		</main>
	</body>

</html>
